<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Rails Routes Quiz</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/application.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>

  <body>
    <div class="container">
      <header class="lead">
        Know Your Rails Routes!
      </header>
      <nav>
        <ul class="nav nav-pills">
          <li<%=' class="active"' if params[:level]== 'normal' %> ><a href="/quiz/normal" tabIndex="-1">Normal</a></li>
          <li<%=' class="active"' if params[:level]== 'hard' %>><a href="/quiz/hard" tabIndex="-1">Hard</a></li>
          <li<%=' class="active"' if params[:level]== 'expert' %>><a href="/quiz/expert" tabIndex="-1">Expert</a></li>
          <li<%=' class="active"' if params[:level]== 'chuck_norris' %>><a href="/quiz/chuck_norris" tabIndex="-1">Chuck norris</a></li>
          <% if params[:resource] == :answer %>
            <li class="dropdown active">
          <% else %>
            <li class="dropdown">
          <% end %>
           <a class="dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              tabIndex="-1">
               Answers
               <b class="caret"></b>
             </a>
            <ul class="dropdown-menu">
              <% RESOURCES.each do |resource| %>
                <li><a href="/answers/<%= resource %>"><%= resource.capitalize + 's' %></a></li>
              <% end %>
           </ul>
         </li>
        </ul>
      </nav>
      <main id="quiz">
        <%= yield %>
      </main>
    </div>
    <footer class="text-center muted">
      <small>Created by <a href="http://github.com/rbndickson" tabIndex="-1">Robin Dickson</a> | Routes from <a href="http://guides.rubyonrails.org/routing.html">RailsGuides</a></small>
    </footer>
  </body>
</html>
