<!DOCTYPE html>
<html>

<head>
  <title>You Should Know This By Now</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/application.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body style="padding-top: 50px;">
  <div class="container">
    <p class="lead">Know Your Rails Routes!</p>
    <div id="navigation">
      <ul class="nav nav-pills">
        <li<%=' class="active"' if session[:level]== :normal %> ><a href="/" tabIndex="-1">Normal</a></li>
        <li<%=' class="active"' if session[:level]== :hard %>><a href="/hard" tabIndex="-1">Hard</a></li>
        <li<%=' class="active"' if session[:level]== :expert %>><a href="/expert" tabIndex="-1">Expert</a></li>
        <li<%=' class="active"' if session[:level]== :chuck %>><a href="/chuck_noris" tabIndex="-1">Chuck Noris</a></li>
        <% if session[:level] == :answers %>
          <li class="dropdown active">
        <% else %>
          <li class="dropdown">
        <% end %>
         <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            tabIndex="-1">
             Answers
             <b class="caret"></b>
           </a>
          <ul class="dropdown-menu">
            <% RESOURCES.each do |resource| %>
              <li><a href="/answers/<%= resource %>"><%= resource.capitalize + 's' %></a></li>
            <% end %>
         </ul>
       </li>
      </ul>
    </div>
    <div id="quiz">
      <%= yield %>
    </div>
  </div>
  <div class="text-center" id="footer">
    <p class="muted"><small>Created by <a href="http://github.com/rbndickson" tabIndex="-1">Robin Dickson</a>. Routes from <a href="http://guides.rubyonrails.org/routing.html">RailsGuides</a></small></p>
  </div>
</body>

</html>
