<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= session[:data_array].first[0] %></th>
      <th><%= session[:data_array].first[1] %></th>
      <th><%= session[:data_array].first[2] %></th>
      <th class="span5"><%= session[:data_array].first[3] %></th>
    </tr>
  </thead>
  <tbody>
    <% session[:data_array].drop(1).each_with_index do |row, i| %>
      <tr>
        <% row.each_with_index do |cell, ii| %>
          <% if session[:blanks].include?(((i * 4) + ii)) %>
            <td id="<%= ((i * 4) + ii).to_s %>">
              <form class="form-inline" id="check_answer_form" action="/check_answer" method="post">
                <input class="input-small" type="text" name="answer">
                <input type="hidden" name="id" value="<%= ((i * 4) + ii).to_s %>" />
                <!-- <input type="submit" class="btn btn-small btn-info" value="Try"/> -->
              </form>
              <form class="form" id="show_answer_form" action="/show_answer" method="post">
                <input type="hidden" name="id" value="<%= ((i * 4) + ii).to_s %>" />
                <input type="submit" class="btn btn-small btn-warning" value="?"/>
              </form>
            </td>
          <% elsif session[:correct].include?(((i * 4) + ii))%>
            <td class="success" id="<%= ((i * 4) + ii).to_s %>"><%= cell %></td>
          <% elsif session[:pass].include?(((i * 4) + ii))%>
            <td class="pass" id="<%= ((i * 4) + ii).to_s %>"><%= cell %></td>
          <% else %>
            <td id="<%= ((i * 4) + ii).to_s %>"><%= cell %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
