<table class="table table-bordered">
  <thead>
    <tr>
      <th>HTTP Verb</th>
      <th>Path</th>
      <th>Controller#Action</th>
      <th class="span5">Used for</th>
    </tr>
  </thead>
  <tbody>
    <% @display_data.each do |route, column_title |  %>
      <tr>
        <% column_title.each do |column_title, cell_text| %>

          <% if cell_text.empty? %>
            <td id=<%= [route, column_title, 'cell'].join('_') %>>
              <form class="form-inline" action="#" method="post" autocomplete="off">
                <% if column_title == "used_for" %>
                  <input class="input-xlarge" id=<%= [route, column_title].join('_') %> type="text" name="user_answer" autofocus></input>
                <% else %>
                  <input class="input-small" id=<%= [route, column_title].join('_') %> type="text" name="user_answer" autofocus></input>
                <% end %>
              </form>
              <button type="submit" id=<%= [route, column_title].join('_') %> class="btn btn-small btn-warning" tabIndex="-1">Reveal</button>
            </td>
          <% else %>
            <td id=<%= [route, column_title, 'cell'].join('_') %>><%= cell_text %></td>
          <% end %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
